body{
    background-image:url(../imgs/panter.jpg);
    background-color:#000000;
    background-position: center;
    background-attachment: fixed;
    background-repeat:repeat-x;
    overflow:auto;
    background-size:auto;
}


img {
    align-items: center;
    justify-content: center;
    border: 4px solid #ccc;
    float: center;
    margin: 20px;
    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -ms-transition: margin 0.5s ease-out;
    transition: margin 0.5s ease-out;
    height:60% ;
    width: 20%; 
    
    }

.ex1 img:hover {
     margin-top: 2px;
    
    }

cent{text-align: center}
