{% extends "layout.html" %}

{% block content %}
<div  class="jumbotron" style="filter:alpha(opacity=50); opacity:0.5;" >
    <h1 class="display-4" style="text-align: center;">Hello</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


<div class="ex1">
    <img alt="img0" src="../static/imgs/ser.jpg" />
    <img alt="img1" src="../static/imgs/ser.jpg" />
    <img alt="img2" src="../static/imgs/ser.jpg" />
    <img alt="img3" src="../static/imgs/ser.jpg" />
</div>



{% endblock %}  